<!DOCTYPE html>
<html>
<head>
    <title><%=  %></title>
    <% include header.ejs %>
</head>
<body>
    <div id="wrapper">
        <% include menu.ejs %>
        <div id="page-wrapper">
            <div class="container">
                <div class='header'>
                    <ol class='breadcrumb'>
                      <li><a href='/'>主页</a><span class='divider'>/</span></li>
                    </ol>
                </div>
                <%- defineContent('pageSection') %>
            </div>
        </div>
    </div>
<% include footer.ejs %>
</body>
</html>