<!DOCTYPE html>
<html>
<head>
    <title><%=  %></title>
    <% include header.ejs %>
</head>
<body>


<div id="wrapper">
    <!-- Navigation -->
    <% include menu.ejs %>

    <div id="page-wrapper">

        <div class="container">

            <%- defineContent('pageSection') %>

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<!-- foot js-->
<% include footer.ejs %>


</body>
</html>