<%- contentFor('pageSection') %>
<!DOCTYPE html>
<html>
<head>
	<title>User Login</title>
</head>
<body>
	<h1>User Login</h1>
	<% if (messages.error) { %>
		<div style="color: red;"><%= messages.error %></div>
	<% } %>

	<% if (messages.success) { %>
		<div style="color: green;"><%= messages.success %></div>
	<% } %>
	<form action="/login" method="post">
		<label for="name">Username:</label>
		<input type="text" id="username" name="name"><br><br>
		<label for="password">Password:</label>
		<input type="password" id="password" name="password"><br><br>
		<input type="submit" value="Login">
	</form>
</body>
</html>

