<%- contentFor('pageSection') %>
<div id='content'>
  <div class='panel'>
    <div class='header'>
      <ol class='breadcrumb'>
        <li><a href='/'>主页</a><span class='divider'>/</span></li>
      </ol>
    </div>
    <div class='inner post'>
      <form id='create_product_form' action='/products/create' method='post'>
        <div class="card" style="width: 18rem;">
          <div class="card-header">
            Product
          </div>
          <div class="card-body">
            <div class="input-group mb-3">
              <span class="input-group-text">ASIN：</span>
              <input type="text" class="form-control" name="asin">
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text">生产周期(天):</span>
              <input type="number" class="form-control" name="cycle">
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text">预估最大销量:</span>
              <input type="number" class="form-control" name="max_avg_sales">
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text">装箱尺寸：</span>
             
              <div class="input-group mb-3">
                <span class="input-group-text">长(cm)：</span>
                <input type="number" class="form-control" name="box.length">
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text">宽(cm)：</span>
                <input type="number" class="form-control" name="box.width">
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text">高(cm)：</span>
                <input type="number" class="form-control" name="box.height">
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text">重(kg)：</span>
                <input type="number" class="form-control" name="box.weight">
              </div>
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text">每箱数量(个)：</span>
              <input type="number" class="form-control" name="units_per_box">
            </div>
          </div>
          <div class="card-footer text-muted">
            <button type="submit" class="btn btn-primary btn-lg" role="button" aria-disabled="true">Save</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>