<%- contentFor('pageSection') %>
<div id='content'>
  <div class='panel'>
    <div class='header'>
      <ol class='breadcrumb'>
        <li><a href='/'>主页</a><span class='divider'>/</span></li>
      </ol>
    </div>
    <div class='inner post'>
      <form id='create_product_form' action='/products/create' method='post'>
        <div class="card" style="width: 18rem;">
          <div class="card-header">
            Product
          </div>
          <div class="card-body">
            <div class="input-group mb-3">
              <span class="input-group-text">ASIN：</span>
              <input type="number" class="form-control" name="asin">
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text">生产周期(天):</span>

              <input type="number" class="form-control" name="cycle">
            </div>

          </div>
          <div class="card-footer text-muted">
            <button type="submit" class="btn btn-primary btn-lg" role="button" aria-disabled="true">Save</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>