<%- contentFor('pageSection') %>
<div id='content'>
  <div class='panel'>
    <div class='inner post'>
			<form id='create_delivery_form' action='/deliveries/create' method='post'>
				<div class="card p-4">
					<div class="card-header">
						delivery
					</div>
					<div class="input-group input-group-static mb-4">
						<label>Purchase：</label>
						<input type="text" class="form-control" name="memo" />
					</div>
					<div class="input-group input-group-static mb-4">
						<label>数量:</label>
						<input class="form-control" name="quantity" >
					</div>
					<div class="input-group input-group-static mb-4">
						<label>箱数:</label>
						<input class="form-control" name="boxCount" >
					</div>

					<div class="input-group input-group-static mb-4">
						<label>发货日期:</label>
						<input type="text" class="form-control" name="shipmentDate" data-provide="datepicker">
					</div>
					<div class="input-group input-group-static mb-4">
						<label>预估收货日期:</label>
						<input type="text" class="form-control" name="expectArrivalDate" data-provide="datepicker">
					</div>
					<div class="card-footer text-muted">
						<button type="submit" class="btn btn-primary btn-lg" role="button" aria-disabled="true">Save</button>
					</div>
				</div>
			</form>
    </div>
  </div>
</div>
